:root {
    box-sizing: border-box;
    font-size: 100%;
    line-height: 1.5;
    font-weight: bold;
    margin: 0;
    padding: 0;

    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;

    --navbar-bg:  rgb(36,41,46);
    --pry-color: hsl(210deg 12% 16%);
    --color-text-secondary: #586069;

    --color-border-primary: #e1e4e8;

    --color-scale-black: #1b1f23;
    --color-scale-white: #fff;
    --color-fade-white-15: hsla(0,0%,100%,0.15);

    --color-scale-gray-0: #fafbfc;
    --color-scale-gray-1: #f6f8fa;
    --color-scale-gray-2: #e1e4e8;
    --color-scale-gray-3: #d1d5da;
    --color-scale-gray-4: #959da5;
    --color-scale-gray-5: #6a737d;
    --color-scale-gray-6: #586069;
    --color-scale-gray-7: #444d56;
    --color-scale-gray-8: #2f363d;
    --color-scale-gray-9: #24292e;

    --color-scale-blue-0: #f1f8ff;
    --color-scale-blue-1: #dbedff;
    --color-scale-blue-2: #c8e1ff;
    --color-scale-blue-3: #79b8ff;
    --color-scale-blue-4: #2188ff;
    --color-scale-blue-5: #0366d6;
    --color-scale-blue-6: rgb(0 92 197);
    --color-scale-blue-7: #044289;
    --color-scale-blue-8: #032f62;
    --color-scale-blue-9: #05264c;

    --color-text-link: #0366d6;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    color: var(--pry-color);
}

a {
    color: var(--color-text-link);
    text-decoration: none;
}

main {
    display: block;
}

nav {
    display: block;
}

img {
    width: 100%;
}

input {
    width: 100%;
    height: 2.5em;
    padding: 0.75em 1em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}


div.container {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
/* header {
    border-bottom: 1px solid var(--color-scale-gray-5);
} */

header .navbar {
    padding: 1em 2em;
    font-size: 0.75rem;
    background-color: var(--navbar-bg);
    display: flex;
    align-items: center;
    justify-content: start;
}

@media only screen and (max-width: 900px) {
    header .navbar nav {
        display: none;
    }

    header .navbar .nav_options .profile, header .navbar .nav_options .options.dropdown, 
    header .navbar .input_box  {
        display: none;
    }

    header .navbar .nav_options {
        margin: 0;
    }

    header .navbar .logo {
        margin: 0 auto;
        margin-left: auto;
    }
}

#smProfilePic {
    border-radius: 50%;
}

.navbar > * + * {
    margin-left: 2em;;
} 

.navbar .input_box {
    width: 30%;
    position: relative;
    display: flex;
    align-items: center;
    border: 0.5px solid var(--color-scale-gray-5);
    border-radius: 0.5em;
}

.navbar .input_box input {
    background: none;
    padding: 0 1.5em;
    width: 90%;
    border: none;
    transition: all 0.5s ease;
}

.navbar .input_box input:focus {
    outline: none;
    background: white;
    width: 100% !important;
}

.navbar .input_box input:focus + * {
    display: none;
}

.navbar .input_box input::placeholder {
    color: var(--color-scale-gray-4);
}

.nav .nav_item {
    display: inline-block;
    padding: 0 1em;
}

.nav .nav_link {
    color: white;
    display: inline-block;
    height: 100%;
    padding: 1em 0em;
}

.nav .nav_link:focus, .nav .nav_link:hover {
    color: var(--color-scale-gray-2);
}

.nav .nav_link:focus {
    border: 1px solid currentColor;
}

.navbar .hamburger_box {
    position: relative;
    margin-left: 0;
}

header #menu {
    width: 100vw;
    padding: 0em 2em 1em;
    background-color: var(--navbar-bg);
}

header #menu .list > .list_item {
    border-top: 1px solid var(--color-fade-white-15);
}

header #menu .list .list_item a {
    display: block;
    margin: 0.5em auto;
    color: white;
    font-weight: 600;
    white-space: nowrap;
}

header #menu .input_box {
    width: 100%;
    position: relative;
    display: flex;
    background-color: none;
    align-items: center;
    border: 0.5px solid var(--color-scale-gray-5);
    border-radius: 0.5em;
    margin-bottom: 1em;
}

header #menu .input_box input {
    outline: none;
    background: none;
    border: none;
}

header #menu .input_box input:focus {
    outline: none;
    background: white;
    width: 100% !important;
}

header #menu .input_box input:focus + * {
    display: none;
}

header #menu .input_box input::placeholder {
    color: var(--color-scale-gray-4);
}

.navbar .nav_options {
    margin-left: auto;
    margin-right: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .nav_options .notif_box {
    position: relative;
    width: 2em;
    height: 2em;
}

.navbar .nav_options .notif_box span {
    width: 0.75em;
    height: 0.75em;
    border-radius: 50%;
    position: absolute;
    right: 0%;
    top: 0%;
    background-color: var(--color-scale-blue-4);
}

.navbar .nav_options .options {
    width: 2em;
    height: 2em;
}

.navbar .nav_options > * + * {
    margin-left: 1.5em;
}

.navbar .nav_options > .profile {
    margin-left: 2em;
}

header .aside {
    display: block;
    font-size: 1rem;
    padding: 0 1em;
    font-weight: normal;
}

header .aside > * + * {
    margin-top: 1em;
}

header .aside .profile_detail {
    display: flex;
    align-items: center;
    width: 10em;
    height: 10em;
    border-radius: 50%;
}

header .aside .profile_detail .profilePic_large {
    width: 5em; 
    height: 5em; 
    border-radius: 50%; 
    margin-right: 0.75em; 
    background-color: yellowgreen;
}

header .aside .profile_detail .profile_name {
    color: var(--color-text-secondary);
}

header .aside .stats_box {
    border: 1px solid var(--color-border-primary);
    font-size: 1rem;
    border-radius: 0.45em;
    padding: 0.4em;
    display: flex;
    align-items: center;
}

header .aside button.stats_box {
    border: 1px solid var(--color-border-primary);
    font-size: 1rem;
    width: 100%;
    margin: 1em auto;
    font-weight: 500;
    justify-content: center;
    border-radius: 0.45em;
    padding: 0.4em;
}

@media screen and (min-width: 800px) {
    header .aside {
        display: none;
    }
}
@media screen and (min-width: 900px) {
    .navbar .hamburger_box {
        display: none;
    }

    header .aside {
        display: none;
    }
}